<a
  href="{{ product.url }}"
  class="recently-viewed-card"
>

  <img
    src="{{ product.image }}"
    alt="{{ product.title }}"
  >

  <div class="recently-viewed-title">
    {{ product.title }}
  </div>

  <div class="recently-viewed-price">
    ₹{{ product.price }}
  </div>

</a>
